<div class="flex justify-center w-full">

    <div *ngIf="!isLoading " class="w-2/3 mt-10 justify-center">
        <div class=" grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
            <div *ngFor="let user of users$|async" (click)="goToDetails(user.id)" [@fadeInOut]
                class="hover:transition hover:duration-300 hover:ease-in-out flex flex-col hover:shadow-2xl items-center bg-white border rounded-lg p-4 shadow cursor-pointer">
                <div appRoundedImage [img]="{ img_url: user.avatar }"></div>
                <div class="text-center text-lg">
                    <div class="font-semibold">{{user.first_name}} {{user.last_name}}</div>
                    <div>ID: {{user.id}}</div>
                </div>
            </div>
        </div>
        <div class="flex justify-center mt-4">
            <mat-paginator [length]="total$|async" [showFirstLastButtons]="true" [pageSizeOptions]="[4, 8, 12, 50]" (page)="pageChange($event)"
                aria-label="Select page">
            </mat-paginator>
        </div>
    </div>
    <ng-container *ngIf="isLoading">

        <div class=" w-1/2 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 mt-10 ">
            <div *ngFor="let item of [1,2,3,4]" class="border border-gray-300 shadow rounded-md p-4 max-w-sm">
                <div class="flex flex-col items-center w-full animate-pulse">
                    <div class="rounded-full bg-gray-700 h-20 w-20"></div>
                    <div class="flex-1 space-y-6 py-1 w-full mt-4">
                        <div class="space-y-3">
                            <div class="h-2 bg-gray-700 rounded col-span-1"></div>
                        </div>
                        <div class="h-2 bg-gray-700 rounded"></div>
                    </div>
                </div>
            </div>
        </div>

    </ng-container>
</div>