<ng-container>
    <div class="fixed top-0 w-full">
        <mat-progress-bar mode="indeterminate" color="accent" *ngIf="loading"></mat-progress-bar>
    </div>
</ng-container>
<div class="flex flex-row bg-yellow-300 items-center gap-x-8 px-10 h-12">
    <span class="header ">Maids.cc User Dashboard Assessment</span>
    <app-search></app-search>
</div>
<router-outlet></router-outlet>