<div class="flex flex-row items-center gap-x-8">
    <div class="mt-2">
        <mat-label>Search by id :</mat-label>
        <mat-form-field class="rounded-xl text-sm">
            <input placeholder="ex. 3" class="input"  [formControl]="search">
        </mat-form-field>
    </div>

    <div *ngIf="user && search.value.length > 0" (click)="goToDetails(user.id)"
        class="bg-green-400 rounded-xl text-md px-4 py-2 cursor-pointer">
        {{user?.first_name}} {{user?.last_name}}
    </div>
</div>